<md-dialog aria-label="Agregar rechazo">
    <form ng-cloak>
        <md-dialog-content style="background-color: #FFF !important; padding-left: 1rem; padding-right: 1rem; min-width: 40rem!important;">
            <div class="md-dialog-content">
                <h2 class="md-title"><strong>Agregar rechazo</strong></h2>
                <br />
                <div layout="row">
                    <div layout="column" flex>
                        <md-input-container class="md-block md-subhead"
                                            flex>
                            <label>Paro</label>
                            <md-select id="centroSeleccionable"
                                       name="centroSeleccionable"
                                       md-on-open="ObtenerCentros()"
                                       md-on-close="ResetearTerminoBusqueda()"
                                       ng-model="Paro.Indice"
                                       md-container-class="selectdemoSelectHeader"
                                       md-autofocus
                                       ng-cloak>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="TerminoBusqueda"
                                           type="search"
                                           placeholder="Busca un paro"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="Centros disponibles">
                                    <md-option ng-repeat="Centro in ListaCentros | filter:TerminoBusqueda" ng-value="Centro.Indice">
                                        {{ Centro.Nombre }}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex="5" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <div layout="column" flex>
                        <md-input-container class="md-block md-subhead" ng-disabled="Paro.Indice === null" flex>
                            <label>Cantidad</label>
                            <input ng-model="Paro.Cantidad">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" style="margin-right: 1rem !important;">
            <md-button ng-click="cancel()" class="md-primary">
                Agregar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
