<md-dialog aria-label="Agregar paro">
    <form ng-cloak>
        <md-dialog-content style="background-color: #FFF !important; padding-left: 2rem; padding-right: 2rem; min-width: 40rem!important;">
            <div class="md-dialog-content">
                <h2 class="md-title"><strong>Agregar paro</strong></h2>
                <br />

                <div layout="row" layour-align="center center" flex>
                    <div layout="column" flex="100">
                        <md-input-container class="md-block md-subhead">
                            <label>Nivel 1</label>
                            <md-select id="paroSeleccionable1"
                                       name="paroSeleccionable"
                                       md-on-open="ObtenerParos()"
                                       md-on-close="ResetearTerminoBusqueda()"
                                       ng-model="Paro.Indice"
                                       md-container-class="selectdemoSelectHeader"
                                       md-autofocus
                                       ng-cloak>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="TerminoBusqueda"
                                           type="search"
                                           placeholder="Busca un paro"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="Centros disponibles">
                                    <md-option ng-repeat="Paro in ListaParos | filter:TerminoBusqueda" ng-value="Paro.Indice">
                                        {{ Paro.Nombre | uppercase }}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layour-align="center center" flex>
                    <div layout="column" flex="100">
                        <md-input-container class="md-block md-subhead">
                            <label>Nivel 2</label>
                            <md-select id="paroSeleccionable2"
                                       name="paroSeleccionable"
                                       md-on-open="ObtenerParos()"
                                       md-on-close="ResetearTerminoBusqueda()"
                                       ng-model="Paro.Indice"
                                       md-container-class="selectdemoSelectHeader"
                                       ng-cloak>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="TerminoBusqueda"
                                           type="search"
                                           placeholder="Busca un paro"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="Centros disponibles">
                                    <md-option ng-repeat="Paro in ListaParos | filter:TerminoBusqueda" ng-value="Paro.Indice">
                                        {{ Paro.Nombre | uppercase }}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" layour-align="center center" flex>
                    <div layout="column" flex="100">
                        <md-input-container class="md-block md-subhead">
                            <label>Nivel 3</label>
                            <md-select id="paroSeleccionable3"
                                       name="paroSeleccionable"
                                       md-on-open="ObtenerParos()"
                                       md-on-close="ResetearTerminoBusqueda()"
                                       ng-model="Paro.Indice"
                                       md-container-class="selectdemoSelectHeader"
                                       ng-cloak>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="TerminoBusqueda"
                                           type="search"
                                           placeholder="Busca un paro"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="Centros disponibles">
                                    <md-option ng-repeat="Paro in ListaParos | filter:TerminoBusqueda" ng-value="Paro.Indice">
                                        {{ Paro.Nombre | uppercase }}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" layour-align="center center" flex>
                    <div layout="column" flex="100">
                        <md-input-container class="md-block md-subhead">
                            <label>Nivel 4</label>
                            <md-select id="paroSeleccionable4"
                                       name="paroSeleccionable"
                                       md-on-open="ObtenerParos()"
                                       md-on-close="ResetearTerminoBusqueda()"
                                       ng-model="Paro.Indice"
                                       md-container-class="selectdemoSelectHeader"
                                       ng-cloak>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="TerminoBusqueda"
                                           type="search"
                                           placeholder="Busca un paro"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="Centros disponibles">
                                    <md-option ng-repeat="Paro in ListaParos | filter:TerminoBusqueda" ng-value="Paro.Indice">
                                        {{ Paro.Nombre | uppercase }}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layour-align="center center" flex>
                    <div layout="column" flex="100">
                        <md-input-container class="md-block md-subhead">
                            <label>Nivel 5</label>
                            <md-select id="paroSeleccionable5"
                                       name="paroSeleccionable"
                                       md-on-open="ObtenerParos()"
                                       md-on-close="ResetearTerminoBusqueda()"
                                       ng-model="Paro.Indice"
                                       md-container-class="selectdemoSelectHeader"
                                       ng-cloak>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="TerminoBusqueda"
                                           type="search"
                                           placeholder="Busca un paro"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="Centros disponibles">
                                    <md-option ng-repeat="Paro in ListaParos | filter:TerminoBusqueda" ng-value="Paro.Indice">
                                        {{ Paro.Nombre | uppercase }}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layour-align="center center" flex>
                    <div layout="column" flex>
                        <md-input-container class="md-block md-subhead" ng-disabled="Paro.Indice === null">
                            <label>Cantidad</label>
                            <input ng-model="Paro.Cantidad" solo-numerico valor-valido-mayor-cero>
                        </md-input-container>
                    </div>

                    <div flex="5" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <div layout="column" flex>
                        <md-input-container class="md-block md-subhead" ng-disabled="Paro.Indice === null">
                            <label>Folio</label>
                            <input ng-model="Paro.Folio">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="AgregarParo()" class="md-primary">
                Agregar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
