<md-dialog aria-label="Captura de indicador">
    <form ng-cloak>
        <md-dialog-content style="background-color: #FFF !important; padding-left: 2rem; padding-right: 2rem; min-width: 40rem!important;">
            <div class="md-dialog-content">
                <h1 class="md-title am-text-primary"><strong>{{ 'Captura de indicadores' | uppercase }}</strong></h1>

                <div style="margin-top:2rem;"></div>

                <p>¡El indicador <strong class="am-text-primary" style="font-weight: 900;">#{{ IndiceIndicador }}</strong> ha sido creado exitosamente!</p>
                <p>¿Qué deseas hacer?</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions style="background-color: #FFF !important; padding-left: 2rem; padding-right: 2rem;">
            <div layout="column" layout-gt-xs="row" layout-align="start center" flex flex-gt-xs>
                <div flex flex-gt-xs="33" layout-align="start center">
                    <md-button  ng-click="EstablecerAccion(1)">
                        <md-icon md-svg-icon="md-exit" style="margin-right: 0.2rem;"></md-icon>
                        Salir
                    </md-button>
                </div>
                <div flex flex-gt-xs="34" layout-align="center center">
                    <md-button class="md-primary" ng-click="EstablecerAccion(2)">
                        <md-icon md-svg-icon="md-create" style="margin-right: 0.2rem;"></md-icon>
                        Crear otro
                    </md-button>
                </div>
                <div flex flex-gt-xs="33" layout-gt-xs="row" layout-align="end center">
                    <md-button class="md-primary" ng-click="EstablecerAccion(3)">
                        <md-icon md-svg-icon="md-edit" style="margin-right: 0.2rem;"></md-icon>
                        Editarlo
                    </md-button>
                </div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
