* {
    font-family: 'Roboto', sans-serif, Arial;
}

.body-content {
    margin-top: 2rem !important;
}

.titulo-seccion {
    color: rgb(97, 93, 94);
}

.mdb-text-success {
    color: rgb(0, 200, 81);
}

.mdb-text-warning {
    color: rgb(255, 187, 51);
}

.mdb-text-danger {
    color: rgb(255, 53, 71);
}


.selectdemoSelectHeader {
}

    .selectdemoSelectHeader .demo-header-searchbox {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .selectdemoSelectHeader .demo-select-header {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 10.667px;
        height: 48px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
    }

    .selectdemoSelectHeader md-content._md {
        max-height: 240px;
    }

