* {
    font-family: 'Roboto', sans-serif, Arial;
}

.body-content {
    margin-top: 2rem !important;
}

.titulo-seccion {
    color: rgb(97, 93, 94);
}

.mdb-text-success {
    color: rgb(0, 200, 81);
}

.mdb-text-warning {
    color: rgb(255, 187, 51);
}

.mdb-text-danger {
    color: rgb(255, 53, 71);
}


.selectdemoSelectHeader {
}

    .selectdemoSelectHeader .demo-header-searchbox {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .selectdemoSelectHeader .demo-select-header {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 10.667px;
        height: 48px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
    }

    .selectdemoSelectHeader md-content._md {
        max-height: 240px;
    }


md-chips, md-tabs, md-tab, md-content, md-padding {
    background-color: #ffffff;
}

.custom-chips md-chip {
    position: relative;
}

    .custom-chips md-chip .md-chip-remove-container {
        position: absolute;
        right: 40px;
        top: 4px;
        margin-right: 0;
        height: 24px;
    }

        .custom-chips md-chip .md-chip-remove-container button.vegetablechip {
            position: relative;
            height: 24px;
            width: 24px;
            line-height: 30px;
            text-align: center;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            border: none;
            box-shadow: none;
            padding: 0;
            margin: 0;
            transition: background 0.15s linear;
            display: block;
        }

            .custom-chips md-chip .md-chip-remove-container button.vegetablechip md-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0) scale(0.7);
                color: white;
                fill: white;
            }

            .custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
                background: rgba(255, 0, 0, 0.8);
            }

.custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
    padding-right: 5px;
}

.vegetablechip {
    position: relative;
    height: 24px;
    width: 24px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    box-shadow: none;
    padding: 1rem;
    margin: 0;
    transition: background 0.15s linear;
    display: block;
}

.iconvegetablechip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
    color: white;
    fill: white;
}

.vegetablechip:hover, .vegetablechip:focus {
    background: rgba(183, 28, 28, 0.8);
}



