
@{
    ViewBag.Title = "Inicio";
}
<div ng-controller="AdministracionController" ng-cloak>

    <div style="margin-bottom: 20px !important;" layout="row" layout-align="center center">
        <div layout="column">
            <h1 class="md-display-3 text-primary-blue">ADMINISTRACIÓN</h1>
        </div>
    </div>
    <div layout="column">
        <md-content class="md-padding">
            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-swipe-content md-dynamic-height>
                <md-tab label="USUARIOS">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">USUARIOS</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="PERFILES">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">PERFILES</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="CENTROS">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">CENTROS</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="DEPARTAMENTOS">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">DEPARTAMENTOS</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="LÍNEAS">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">LÍNEAS</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="PROCESOS">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">PROCESOS</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="VELOCIDADES">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">VELOCIDADES</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="PAROS">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">PAROS</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="PAROS PLANIFICADOS">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">PAROS PLANIFICADOS</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="RECHAZOS">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">RECHAZOS</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="RELOJ">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">RELOJ</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="MENSAJES">
                    <md-content class="md-padding">
                        <div layout="column">
                            <span class="md-subhead text-muted" style="letter-spacing: 5px;">ADMINISTRACIÓN DE</span>
                            <h1 class="md-display-2 text-primary-blue" style="padding: 0 !important; margin: 0 !important;">MENSAJES</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <md-card md-theme="default" ng-cloak>
        <md-card-title>
            <md-card-content style="padding-left: 3rem !important; padding-right: 3rem !important; margin-top: 1rem; padding-bottom: 3rem !important;">

            </md-card-content>
            <md-card-actions layout="row" layout-align="start" style="padding-left: 2rem;">
                <md-button class="md-raised md-primary"
                           ng-click="ActualizarIndicadorTiempo()"
                           ng-disabled="Parametros.IndiceProceso === null || Parametros.IndiceMotivo === null || Tiempo.IndicadorTiempoActual <= Tiempo.IndicadorTiempoAnterior"
                           style="font-family: Roboto !important; font-size: 1em; padding-right: 2rem !important; padding-left: 2rem !important;">
                    <md-icon title="Search"
                             md-svg-src="../Content/Icons/search.svg"
                             aria-label="Search"
                             style="padding-right: 1rem!important;">
                    </md-icon>
                    Buscar
                </md-button>
                <md-button md-no-ink
                           class="md-primary"
                           ng-click="InicializarFormulario()"
                           style="font-family: Roboto !important; font-size: 1em;">
                    Limpiar
                </md-button>
            </md-card-actions>
    </md-card>
</div>
