<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="AppServerHost" value="vdbciprdf.pisa.com.mx"/>
      <add key="SystemNumber" value="10"/>
      <add key="Client" value="200"/>
      <add key="Language" value="ES"/>
      <add key="Licencia" value="W5DC482W2P"/>
      <add key="User" value="interfaces"/>
      <add key="Password" value="KJRcKbfudl5Flkv3ilVRPA=="/> 
      
    </appSettings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
