
@{
    ViewBag.Title = "Captura de indicador";
}

<style>
    .selectdemoSelectHeader {
    }

        .selectdemoSelectHeader .demo-header-searchbox {
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            padding: 0;
        }

        .selectdemoSelectHeader .demo-select-header {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
            padding-left: 10.667px;
            height: 48px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
        }

        .selectdemoSelectHeader md-content._md {
            max-height: 240px;
        }
</style>

<h3 style=" color: rgb(63, 81, 181); font-weight: 300; letter-spacing: .5px; text-align: center; margin-top: 3rem; margin-bottom: 0rem;">
    Captura de indicadores
</h3>


<br />
<br />

<div ng-controller="CapturaIndicadorController" ng-cloak>
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-cloak style=" max-width: 60rem !important;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-title text-muted" style="padding-left: 2.5rem;">Datos generales</span>
                <span class="md-subhead"></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <br />
            <div layout="column" style="background-color: #FFF !important; padding-left: 2rem; padding-right: 2rem;">
                <div layout="row">
                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important; margin: 0.4rem !important;">
                        <label>Centro</label>
                        <md-select id="centroSeleccionable"
                                   name="centroSeleccionable"
                                   md-on-open="ObtenerCentros()"
                                   ng-model="DatosGenerales.IndiceCentro"
                                   md-container-class="selectdemoSelectHeader"
                                   md-autofocus
                                   ng-cloak>
                            <md-select-header class="demo-select-header">
                                <input ng-model="TerminoBusqueda"
                                       type="search"
                                       placeholder="Busca un centro"
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="Centros disponibles">
                                <md-option ng-repeat="Centro in ListaCentros" ng-value="Centro.Indice">
                                    {{ Centro.Nombre }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                    <div flex="10" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <div layout="row" flex>
                        <md-input-container flex class="md-block md-subhead" style="padding: 0 !important; margin-right: 0.4rem !important; margin-top: 0.4rem !important; margin-bottom: 0.4rem !important;">
                            <label>Orden</label>
                            <input ng-model="DatosGenerales.Orden">
                        </md-input-container>
                        <div>
                            <button type="button" class="btn btn-sm btn-primary">validar</button>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important; margin: 0.4rem !important;">
                        <label>Departamento</label>
                        <md-select id="departamentoSeleccionable"
                                   name="departamentoSeleccionable"
                                   ng-disabled="DatosGenerales.IndiceCentro === null"
                                   ng-model="DatosGenerales.IndiceDepartamento"
                                   md-container-class="selectdemoSelectHeader"
                                   md-autofocus
                                   ng-cloak>
                            <md-select-header class="demo-select-header">
                                <input ng-model="TerminoBusqueda"
                                       type="search"
                                       placeholder="Busca un departamento"
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="Centros disponibles">
                                <md-option ng-repeat="Departamento in ListaDepartamentos" ng-value="Departamento.Indice">
                                    {{ Departamento.Nombre }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                    <div flex="10" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important; margin: 0.4rem !important;">
                        <label>Lote</label>
                        <input ng-model="DatosGenerales.Lote">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important; margin: 0.4rem !important;">
                        <label>Línea</label>
                        <md-select id="lineaSeleccionable"
                                   name="lineaSeleccionable"
                                   ng-disabled="DatosGenerales.IndiceDepartamento === null"
                                   ng-model="DatosGenerales.IndiceLinea"
                                   md-container-class="selectdemoSelectHeader"
                                   md-autofocus
                                   ng-cloak>
                            <md-select-header class="demo-select-header">
                                <input ng-model="TerminoBusqueda"
                                       type="search"
                                       placeholder="Busca una línea"
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="Lineas disponibles">
                                <md-option ng-repeat="Linea in ListaLineas" ng-value="Linea.Indice">
                                    {{ Linea.Nombre }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                    <div flex="10" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important; margin: 0.4rem !important;">
                        <label>Material</label>
                        <input ng-model="DatosGenerales.Material">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important; margin: 0.4rem !important;">
                        <label>Proceso</label>
                        <md-select id="procesoSeleccionable"
                                   name="procesoSeleccionable"
                                   ng-disabled="DatosGenerales.IndiceLinea === null"
                                   ng-model="DatosGenerales.IndiceProceso"
                                   md-container-class="selectdemoSelectHeader"
                                   md-autofocus
                                   ng-cloak>
                            <md-select-header class="demo-select-header">
                                <input ng-model="TerminoBusqueda"
                                       type="search"
                                       placeholder="Busca un proceso"
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="Lineas disponibles">
                                <md-option ng-repeat="Proceso in ListaProcesos" ng-value="Proceso.Indice">
                                    {{ Proceso.Nombre }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                    <div flex="10" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important; margin: 0.4rem !important;">
                        <label>Descripción</label>
                        <input ng-model="DatosGenerales.Descripcion">
                    </md-input-container>
                </div>
                <div layout="row" style="padding: 0 !important; margin: 0.4rem !important;">
                    <div layout="column" layout-align="center" flex="45"></div>

                    <div flex="10" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <div layout="column" layout-align="center" flex="45">

                        <md-input-container class="md-block md-subhead" style="padding: 0 !important; margin: 0.4rem !important;">
                            <label>Velocidad</label>
                            <input ng-model="DatosGenerales.Velocidad">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>
                SIGUIENTE
                <md-icon md-svg-src="~/Content/Icons/arrow-forward.svg"
                         aria-label="Insert Drive Icon">
                </md-icon>
            </md-button>
        </md-card-actions>
    </md-card>



    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-cloak style="max-width: 60rem !important;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-title text-muted" style="padding-left: 2.5rem;">Datos del indicador</span>
                <span class="md-subhead"></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <br />
            <div layout="row" style="background-color: #FFF !important; padding-left: 2rem; padding-right: 2rem;" flex>
                <div layout="column" flex>

                    <md-input-container class="md-block md-subhead md-input-has-value" flex style="padding: 0 !important; margin: 0.4rem !important;">

                        <label>Turno</label>
                        <md-radio-group ng-model="DatosIndicador.Turno" layout="row" flex>

                            <md-radio-button value="A" class="md-primary" flex>A</md-radio-button>
                            <md-radio-button value="B" class="md-primary" flex>B</md-radio-button>
                            <md-radio-button value="C" class="md-primary" flex>C</md-radio-button>
                            <md-radio-button value="D" class="md-primary" flex>D</md-radio-button>

                        </md-radio-group>
                    </md-input-container>

                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important; margin-right: 0.4rem !important;margin-left: 0.4rem !important;margin-top: 1rem !important;">
                        <label>Ciclo</label>
                        <input ng-model="DatosIndicador.Ciclo">
                    </md-input-container>

                    <md-input-container class="md-block md-subhead" flex style="padding: 0 !important;  margin-right: 0.4rem !important;margin-left: 0.4rem !important;margin-top: 1rem !important;">
                        <label>Piezas</label>
                        <input ng-model="DatosIndicador.Piezas">
                    </md-input-container>

                    <div layout="row">
                        <md-datepicker class="md-block"
                                       ng-model="DatosIndicador.Fecha"
                                       md-placeholder="Fecha"
                                       flex
                                       style="margin-top: 1.3rem;">
                        </md-datepicker>

                        <div style="display: inline-flex">
                            <div style="margin-top: 1.5rem;">
                                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="!readOnly && showPicker($event)" ng-disabled="readOnly">
                                    <md-icon title="Hora" md-svg-src="../Content/Icons/time.svg" aria-label="Hora"></md-icon>
                                    <div class="md-ripple-container"></div>
                                </button>
                            </div>
                            <div>
                                <md-input-container class="md-subhead">
                                    <md-select ng-model="Hora.HoraInicial" md-selected-text="" aria-label="hora" ng-disabled="true">
                                        <md-optgroup label="hora">
                                            <md-option ng-repeat="n in [].constructor(24) track by $index"
                                                       ng-value="$index">
                                                {{ $index < 10 ? '0' + $index : $index }}
                                            </md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <md-select ng-model="Hora.MinutoInicial" md-selected-text="" aria-label="minutos" ng-disabled="true">
                                        <md-optgroup label="minuto">
                                            <md-option ng-repeat="n in [].constructor(60) track by $index"
                                                       ng-value="$index"
                                                       ng-init="$index">
                                                {{ $index < 10 ? '0' + $index : $index }}
                                            </md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="column" layout-aling="center center" flex style="margin-left:5rem !important;">
                    <div layout="row" layout-aling="center center">
                        <blockquote class="blockquote bq-success">
                            <p class="bq-title">Correcto</p>
                            <p>
                                We <strong>highly recommend</strong> custom validation styles as native browser defaults are not announced to
                                screen readers.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>
                SIGUIENTE
                <md-icon md-svg-src="~/Content/Icons/arrow-forward.svg"
                         aria-label="Insert Drive Icon">
                </md-icon>
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-cloak style="max-width: 60rem !important;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-title text-muted" style="padding-left: 2.5rem;">Datos del indicador</span>
                <span class="md-subhead"></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                <md-tab label="Paros">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab One</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Rechazos">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Two</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                        <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>
                SIGUIENTE
                <md-icon md-svg-src="~/Content/Icons/arrow-forward.svg"
                         aria-label="Insert Drive Icon">
                </md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
    <div layout="row" layout-align="start" style="max-width: 60rem !important;" flex>
        <div layout="column" layout-align="start" flex>
            <md-button md-no-ink class="md-primary">
                <md-icon md-svg-icon="~/Content/Icons/time.svg"></md-icon>
                Agregar paro
            </md-button>
        </div>
        <div layout="column" layout-align="start" flex>
            <md-button md-no-ink class="md-primary">
                <md-icon md-svg-icon="~/Content/Icons/time.svg"></md-icon>
                Agregar rechazo
            </md-button>
        </div>
    </div>
    <div layout="row" style="max-width: 60rem !important;">
        
    </div>
</div>
@*http://logbon72.github.io/angular-material-datetimepicker/*@
@*https://eonasdan.github.io/bootstrap-datetimepicker/*@
@*https://codepen.io/mattbajorek/pen/OpGVyv*@

